.books-flexbox-container {
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
}

.book-margin {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 500px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.welcome{
  display:flex;
  align-items:center;
  justify-content:center;
  background-color: #FFFFFF;
  text-align: center;
  color: #B0BEC5;
  position: relative;
  width: 100%;
  height: 85%;
  font-size: large;
}
