.title{
  text-align: center;
  color: #FFFFFF;
  font-size: large
}

.welcome{
  display:flex;
  align-items:center;
  justify-content:center;
  background-color: #FFFFFF;
  text-align: center;
  color: #33A6B8;
  position: relative;
  height: 100%;
  width: 100%;
  font-size: 300%;
}

.dragable{
  -webkit-app-region: drag;
}
